:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Dark-cyan);
}
.circle-top img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -200px;
    left: -187px;
    z-index: 1;
}
.profile_card__component {
    width: 85%;
    max-width: 320px;
    height: 375px;
    z-index: 2;
    position: relative;
    border-radius: 15px;
    background-color: white;
}
.profile_card__profile-background {
    width: 100%;
    height: 140px;
    position: absolute;
    border-radius: 15px 15px 0 0;
    background-image: url(./images/bg-pattern-card.svg);
    
}
.profile_card__profile {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 90px;
    left: calc(50% - 50px);
    border-radius: 50px;
    border: 5px solid white;
}
.profile_card__info {
    margin-top: 210px;
    text-align: center;
}
.profile_card__info h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
.profile_card__info b {
    font-size: 18px;
    font-weight: 400;
    color: var(--Dark-gray);
}
.profile_card__info p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--Dark-gray);
}
.profile_card__stats {
    height: 90px;
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(223, 223, 223);
}
.profile_card__stats b { 
    font-size: 18px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
.profile_card__stats p { 
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 1px; 
    color: var(--Dark-gray);
}
.circle-bottom {
    width: 270px;
    height: 320px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    overflow: hidden;
}
.circle-bottom img {
    position: absolute;
    z-index: 1;
}

@media (min-width: 1024px) {
    .circle-top img {
        width: 850px;
        height: 850px;
        position: absolute;
        top: -400px;
        left: -150px;
        z-index: 1;
    }
    .circle-bottom {
        width: 850px;
        height: 320px;
        position: absolute;
        bottom: 0px;
        right: -100px;
        z-index: 1;
        overflow: hidden;
    }
    .circle-bottom img {
        width: 850px;
        height: 850px;
        position: absolute;
        z-index: 1;
    }
}